$grey: #DDD;
$black: #000000;
$white: #FFFFFF;
$darkBlue: #0E1736;
$darkGrey: #707070;

@import 'helper';

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins';
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	z-index: 11;
	display: none;
}

::-webkit-scrollbar {
	width: 8px;
}
 
::-webkit-scrollbar-track {     
	background: $grey;
}
 
::-webkit-scrollbar-thumb {
	background: $darkBlue;
}

.container {
	width: 90%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

nav {
	font-size: 1.4rem;
	padding: 20px 0;
	background: #FFF;
	@include transition(transform, 1s, linear);

	&.scrolled {
		padding: 0;
		position: sticky;
		top: 0;
		z-index: 10;
		
		@include boxShadow(0, 10px, 10px, 0.2);
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-right a {
		margin-left: 20px;
		padding-bottom: 5px;
		@include transition(all, 0.1s, linear);
	}

	.nav-right a:hover {
		border-bottom: 2px solid $black;
	}
}

header {
	padding: 50px 0;
	position: relative;

	& > img {
		position: absolute;
		z-index: -1;
		width: 100px;
	}
	
	// Floating Image
	.first-float {
		top: 50px;
		left: 30px;
	}

	.second-float {
		bottom: 50px;
		left: 500px;
	}
	
	// Profile Floating Background
	.float-bg-img {
		position: absolute;
		width: 350px;
		top: 0;
		right: 0;
		z-index: -1;

		&.top {
			top: -30px;
			right: 160px;
		}

		&.bottom {
			top: 30px;
			right: 100px;
		}
	}

	.container {
		display: flex;
		align-items: center;
	}

	.container > div {
		flex: 1;
	}

	.header-left {
		flex: 2;

		.header-title {
			font-size: 3.2rem;
		}

		.header-desc {
			font-size: 1.6rem;
			margin: 20px 0 40px;
		}

		.header-contact {
			@include button;
		}

		.header-contact:hover {
			@include buttonHover;
		}
	}

	.header-right {
		text-align: center;
		position: relative;
		perspective: 600px;

		.profile-image {
			width: 350px;
			transform-style: preserve-3d;
		}
	}
}

.social-media {
	font-size: 2.2rem;
	padding: 10px 0;

	a {
		padding: 10px;
		cursor: pointer;
		transition: transform 0.3s linear,
					filter 0.3s linear;;
	}

	a:hover {
		transform: rotate(360deg) scale(1.2);
		filter: invert(.5);
	}
}

.title-section {
	margin-bottom: 30px;
	font-size: 2.4rem;
}

.project {
	padding: 50px 0;

	&-list {
		margin: 50px 0;
		position: relative;
	}

	&-title {
		font-size: 1.8rem;
		font-weight: 600;
	}

	&-image {
		width: 100%;
		margin: 10px 0;

		@include transition(all, 0.3s, linear);

		&.clicked {
			position: fixed;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			z-index: 11;
		}
	}

	&-link {
		font-size: 1.4rem;
		font-weight: 500;

		a {
			color: $darkGrey;
			border-bottom: 2px solid $darkGrey;
		}
	}

	&-bg-img {
		position: absolute;
		z-index: -1;
		width: 100px;

		&.top {
			right: -40px;
			top: -20px;
		}

		&.bottom {
			right: 500px;
			bottom: -10px;
		}
	}
}

.get-touch {
	padding: 50px 0;
	background: $grey;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8rem;
	font-weight: 600;

	a {
		margin-left: 25px;

		@include button;
	}

	a:hover {
		@include buttonHover;
	}
}

.skills {
	padding: 50px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;

	.title-section {
		grid-column-start: 1;
		grid-column-end: -1;
		margin-bottom: 0;
	}

	.skill {
		font-size: 1.6rem;
		padding: 15px 10px;
		border-radius: 5px;
		border: 1px solid $grey;
		position: relative;
		width: 100%;
		cursor: pointer;
		height: 55px;
		overflow: hidden;
		
		@include transition(height, 0.3s, linear);

		&.active {
			height: 100%;
		}

		&.clicked .skill-title::after {
			transform: rotate(45deg);
		}

		&-title {
			padding: 0 0 15px 30px;

			&::before {
				content: '';
				width: 10px;
				height: 10px;
				display: block;
				border-radius: 50%;
				background: $darkBlue;
				position: absolute;
				top: 23px;
				left: 15px;
			}

			&::after {
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f00d";
				color: $grey;
				width: 10px;
				height: 10px;
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 20px;
				right: 20px;
				transform-origin: center;

				@include transition(transform, 0.3s, linear);
			}
		}

		&-list {
			padding: 10px 0 10px 30px;
			display: flex;
			align-items: center;

			img {
				margin-right: 10px;
				height: 100%;
			}

			p {
				flex: 1;
			}
		}

		&-list.first {
			border-top: 1px solid $grey;
		}
	}
}

.email {
	padding: 30px 0;
	background: $grey;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-left,
	&-right {
		flex: 1;
	}

	&-left {
		margin-right: 30px;
	}

	&-desc {
		font-size: 1.4rem;
	}

	&-right {
		display: grid;
		grid-template-areas: 'name email'
							 'description description'
							 'button null';
		grid-gap: 20px;

		.email-name {
			grid-area: name;
		}

		.email-email {
			grid-area: email;
		}

		.email-description {
			grid-area: description;

			textarea {
				padding: 14px;
				width: 100%;
				font-family: 'Poppins';
			}
		}

		.email-button {
			grid-area: button;
			@include button;
		}

		.email-button:hover {
			@include buttonHover;
		}

		label {
			display: block;
			font-size: 1.4rem;
			margin-bottom: 5px;
		}

		input {
			@include input;
		}
	}
}

footer {
	padding: 50px 0 20px;

	.social-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		align-items: center;
		grid-gap: 20px;
		border-bottom: 1px solid $darkGrey;
		padding-bottom: 50px;
		font-size: 1.6rem;

		.social {
			text-align: center;
			cursor: pointer;
			padding: 10px;
			position: relative;
			overflow: hidden;

			@include transition(all, 0.3s, linear);

			i {
				font-size: 2.2rem;
				vertical-align: middle;
				width: 50px;
			}

			p {
				width: 200px;
				text-align: left;
				display: inline-block;
			}
		}

		.social:hover::before {
			left: 410px;
		}

		.social:hover::after {
			right: 410px;
		}

		.social::before,
		.social::after {
			content: '';
			width: 10px;
			height: 100%;
			background: $black;
			position: absolute;
			top: 0;
			transform: skewX(-30deg);
			opacity: .5;

			@include transition(all, 0.2s, linear);
		}

		.social::before {
			left: -30px;
		}

		.social::after {
			right: -30px;
		}

		.social:hover {
			font-weight: 500;
			transform: scale(1.1);
		}
	}

	.copyright {
		text-align: center;
		padding-top: 20px;
		font-size: 1.4rem;
	}
}

// Tablet screen
@media (min-width: 768px) and (max-width: 1024px) {
	header {		
		.float-bg-img {
			width: 300px;

			&.top {
				top: -20px;
				right: 20px;
			}

			&.bottom {
				top: 20px;
				right: -20px;
			}
		}

		.header-left {
			.header-title {
				font-size: 2.8rem;
			}

			.header-desc {
				font-size: 1.4rem;
			}
		}

		.header-right {
			text-align: right;

			.profile-image {
				width: 300px;
			}
		}
		.first-float {
			top: 20px;
			left: 20px;
		}

		.second-float {
			bottom: 20px;
			left: 300px;
		}
	}

	header > img {
		width: 80px;
	}

	.skills {
		grid-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}

	.project-bg-img {
		width: 80px;

		&.top {
			top: 0;
			right: -30px;
		}

		&.bottom {
			right: 100px;
		}
	}

	footer {
		.social-list {
			.social {
				p {
					width: 130px;
				}
			}
		}
	}
}

// Android screen portrait
@media (min-width: 320px) and (max-width: 767px) {
	html {
		font-size: 62.5%;
	}

	.container {
		width: 80%;
	}

	.title-section {
		font-size: 2.2rem;
	}

	header {
		padding-bottom: 30px;

		.container {
			flex-direction: column-reverse;
		}

		.first-float {
			top: 320px;
			left: 10px;
		}

		.second-float {
			left: 200px;
		}

		.header-left {
			margin-top: 50px;

			.header-title {
				font-size: 2.2rem;
			}

			.header-desc {
				font-size: 1.4rem;
			}

			.header-contact {
				font-size: 1.2rem;
			}
		}

		.header-right {
			.profile-image {
				width: 230px;
			}

			.float-bg-img {
				width: 200px;

				&.top {
					top: -20px;
					right: 50px;
				}

				&.bottom {
					top: 50px;
					right: -20px;
				}
			}
		}
	}

	header > img {
		width: 50px;
	}

	.social-media {
		.container {
			display: flex;
			justify-content: space-between;
			padding: 0;
		}

		a {
			padding: 9px;
		}
	}

	.project-bg-img {
		width: 50px;

		&.top {
			top: 20px;
			right: -20px;
		}

		&.bottom {
			right: 20px;
		}
	}

	.project-title {
		font-size: 1.6rem;
	}
	
	.project-link {
		font-size: 1.2rem;
	}

	.get-touch {
		display: flex;
		flex-direction: column;

		.title {
			font-size: 1.6rem;
		}

		a {
			margin: 20px 0 0;
		}
	}

	.skills {
		grid-template-columns: 1fr;
	}

	.email {
		.container {
			flex-direction: column;
		}

		.title-section {
			text-align: center;
		}

		&-left {
			margin-right: 0;
		}

		&-desc {
			margin-bottom: 25px;
			text-align: justify;
		}

		&-right {
			width: 100%;
			grid-template-areas: "name"
								 "email"
								 "description"
								 "button";
		}
	}

	footer {
		.social-list {
			grid-template-columns: 1fr;

			.social p {
				width: 120px;
				font-size: 1.4rem;
			}
		}

		.copyright {
			font-size: 1.2rem;
		}
	}
}